<div class="containers mb-30s">
  <div class="fag-mains mb-15s">
    {%- for block in section.blocks -%}
      <div class="items-faq__mains">
          <div class="top-faq__items">
            <h3 class="titles-question__faq">{{ block.settings.faq_question_text }}</h3>
            <div class="btn-faq__mains"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
          </div>
          <div class="answer-faq__items">
             <p>{{ block.settings.answer_text_faq }}</p>
          </div>
      </div>
    {%- endfor -%}
  </div>
  <a class="btn-black__alls" href="{{section.settings.btnUrlContact }}"> {{ section.settings.btn_texts }} </a>
</div>

{% schema %}
{
  "name": "faqMains",
  "tag": "section",
  "class": "section",
  "settings": [
    {

    "type": "url",

    "id": "btnUrlContact",

    "label": "add links here"
   },
   {

    "id": "btn_texts",

    "type": "text",

    "label": "Text for links",

    "default": "Links here"

   }
  ],

  "blocks": 
  [
    {
      "name": "faq",
      "type": "faq",
      "limit": 5,
      "settings": 
      [
        { 
          "id": "faq_question_text",
          "type": "text",
          "label": "Title box heading",
          "default": "Title"
        },
        {
          "id": "answer_text_faq",
          "type": "text",
          "label": "Question here",
          "default": "text here"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "faqMains"
    }
  ]
}
{% endschema %}
