


<div class="custom-text-section mb-30s">
    {% if section.settings.imagesDesktop != '' %}
      <img src="{{ section.settings.imagesDesktop | image_url}}" class="images-slide__deaktops">
    {% endif %}
    {% if section.settings.imagesDesktop != '' %}
      <img src="{{ section.settings.imagesMobiles  | image_url}}" class="images-slide__mobiles">
    {% endif %}
  <div class="containers">
    <div class="intros-banner__ins">
      <h2 class="title-banner__images">
        {{ section.settings.custom_text_title }}
      </h2>
      <div class="text-content__banners">{{ section.settings.custom_text_body }}
      </div>
      <a class="btn-content__banner" href="{{section.settings.btnUrlCustom }}"> {{ section.settings.btn_texts }} </a>
    </div>
  </div>
</div> 

{% schema %}

{

  "name": "testHeading",

  "settings": [

  { 
    "type": "image_picker",// kieu loai 

    "id": "imagesDesktop",

    "label": "banner desktop"
  },
  { 
    "type": "image_picker",// kieu loai 

    "id": "imagesMobiles",

    "label": "banner mobiles"
  },
   {

    "id": "custom_text_title",

    "type": "text",

    "label": "Text box heading",

    "default": "Title"

  }, 
  {

    "id": "btn_texts",

    "type": "text",

    "label": "Text for links",

    "default": "Links here"

  }, 
  {

    "id": "custom_text_body",

    "type": "richtext",

    "label": "Add custom text below",

    "default": "<p>Add your text here</p>"

  }, {

    "type": "url",

    "id": "btnUrlCustom",

    "label": "add links here"
  }
  ],

  "presets": [
  {
    "name": "testHeading"
  }
  ]

}
{% endschema %}