{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'template-collection.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if section.settings.enable_quick_add -%}
  <link rel="stylesheet" href="{{ 'quick-add.css' | asset_url }}" media="print" onload="this.media='all'">
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'template-collection.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign products_to_display = section.settings.collection.all_products_count

  if section.settings.collection.all_products_count > section.settings.products_to_show
    assign products_to_display = section.settings.products_to_show
    assign more_in_collection = true
  endif

  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  assign show_mobile_slider = false
  if section.settings.swipe_on_mobile and products_to_display > columns_mobile_int
    assign show_mobile_slider = true
  endif

  assign show_desktop_slider = false
  if section.settings.enable_desktop_slider and products_to_display > section.settings.columns_desktop
    assign show_desktop_slider = true
  endif
-%}



<div class="products-list__alls mb-30s">
  <div class="containers">
   <div class="collection section-{{ section.id }}-padding{% if section.settings.full_width %} collection--full-width{% endif %}">
      <div class="collection__title title-wrapper title-wrapper--no-top-margin{% if show_mobile_slider %} title-wrapper--self-padded-tablet-down{% endif %}{% if show_desktop_slider %} collection__title--desktop-slider{% endif %}">
        {%- if section.settings.title != blank -%}
          <h2 class="title titles-center {{ section.settings.heading_size }}">{{ section.settings.title | escape }}</h2>
        {%- endif -%}
        {%- if section.settings.description != blank or section.settings.show_description and section.settings.collection.description != empty -%}
          <div class="collection__description">{%- if section.settings.show_description -%}{{ section.settings.collection.description }}{%- else -%}{{ section.settings.description }}{% endif %}</div>
        {%- endif -%}
      </div>

    <slider-component class="{% if section.settings.full_width %}slider-component-full-width{% endif %}{% if show_mobile_slider == false %}{% endif %}{% if show_desktop_slider == false and section.settings.full_width == false %} page-width-desktop{% endif %}{% if show_desktop_slider %} slider-component-desktop{% endif %}">
      <ul id="Slider-{{ section.id }}" class="list-slide__prds  grid product-grid contains-card contains-card--product{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid--{{ section.settings.columns_desktop }}-col-desktop{% if section.settings.collection == blank %} grid--2-col-tablet-down{% else %} grid--{{ section.settings.columns_mobile }}-col-tablet-down{% endif %}{% if show_mobile_slider or show_desktop_slider %} slider{% if show_desktop_slider %} slider--desktop{% endif %}{% if show_mobile_slider %} slider--tablet grid--peek{% endif %}{% endif %}" role="list" aria-label="{{ 'general.slider.name' | t }}">
        {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
          <li id="Slide-{{ section.id }}-{{ forloop.index }}" class="grid__item{% if show_mobile_slider or show_desktop_slider %} slider__slide{% endif %}">
            {% render 'card-product',
              card_product: product,
              show_vendor: section.settings.show_vendor,
              show_rating: section.settings.show_rating,
              show_quick_add: section.settings.enable_quick_add,
              section_id: section.id
            %}
          </li>
        {%- else -%}
          {%- for i in (1..4) -%}
            <li class="grid__item">
              {% render 'card-product', show_vendor: section.settings.show_vendor %}
            </li>
          {%- endfor -%}
        {%- endfor -%}
      </ul>
      {%- if show_mobile_slider or show_desktop_slider -%}
        <div class="slider-buttons no-js-hidden">
          <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}" aria-controls="Slider-{{ section.id }}">{% render 'icon-caret' %}</button>
          <div class="slider-counter caption">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
            <span class="slider-counter--total">{{ products_to_display }}</span>
          </div>
          <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'general.slider.next_slide' | t }}" aria-controls="Slider-{{ section.id }}">{% render 'icon-caret' %}</button>
        </div>
      {%- endif -%}
    </slider-component>

    {%- if section.settings.show_view_all and more_in_collection -%}
      <div class="center collection__view-all">
        <a href="{{ section.settings.collection.url }}"
          class="{% if section.settings.view_all_style == 'link' %}link underlined-link{% elsif section.settings.view_all_style == 'solid' %}button{% else %}button button--secondary{% endif %}"
          aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: section.settings.collection.title }}"
        >
          {{ 'sections.featured_collection.view_all' | t }}
        </a>
      </div>
    {%- endif -%}
   </div>
 </div>
</div>



{% schema %}
{
  "name": "test list products",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured products",
      "label": "Title list products"
    }, // Dien titles cho list products
    {
      "type": "select",
      "id": "heading_size",
      "default": "h1",
      "label": "Header size lists  products",
      "options": [
        {
          "value": "h2",
          "label": "small"
        },
        {
          "value": "h1",
          "label": "medium"
        },
        {
          "value": "h0",
          "label": "large"
        }
      ]
    },// Chon font size cho titles list products
    {
      "type": "richtext",
      "id": "description",
      "label": "Description displays here "
    }, // dien mo ta ngan cua nhom san pham nay tai day
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "Use description for admin",
      "default": false
    }, // Su dung mo ta ngan dien san tu khi tao list san pham tu admin ?
    {
      "type": "collection",
      "id": "collection",
      "label": "Change collection show here"
    }, // lua chon nhom san pham se hien thi tai day
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 4,
      "label": "Product number will display"
    },// So san pham se hien thi tai day
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "Select columb display here"
    },// lua chon so cot se hien thi tai day
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "list full width",
      "default": false 
    },// lua chon hien thi full-width hoac contian cho list products
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "Show all list products"
    }, // Co hien thi nut xem toan bo san pham khong
    {
      "type": "select",
      "id": "view_all_style",
      "label": "t:sections.featured-collection.settings.view_all_style.label",
      "default": "solid",
      "options": [
        {
          "value": "link",
          "label": "Links"
        },
        {
          "value": "outline",
          "label": "Outline"
        },
        {
          "value": "solid",
          "label": "Solid"
        }
      ]
    },// chon kieu cua nut view all
    {
      "type": "checkbox",
      "id": "enable_desktop_slider",
      "label": "slide on desktops",
      "default": false
    }, // chon hien thi dang slde tren desktops
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header.content"
    },// title trong custom theme
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "Show vendor products"
    },// hien thi mo ta ngan cau san pham
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "show rating products",
      "info": "rating"
    }, 
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": false,
      "label": "add button quick add"
    }, // them nut chon nhanh cho san pham
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header_mobile.content"
    }, // title hang muc trong custom theme
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "Select columns on mobiles",
      "options": [
        {
          "value": "1",
          "label": "one columbs"
        },
        {
          "value": "2",
          "label": "two columbs"
        }
      ]
    },// chon so hang hien thi tren mobiles
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": true,
      "label": "Select display slide in mobiles"
    } // hien thi dang slide tren mobiles
  ],
  "presets": [
    {
      "name": "test list products"
    }
  ]
}
{% endschema %}
