<div class="banner-mains__groups containers mb-30s">
  <div class="groups-bannner__alls">
    {%- for block in section.blocks -%}
    <div class="banner-items {{ block.settings.banner_size}}">
      <a title="" href="{{block.settings.btn_links_banner}}"> 
        <img src="{{ block.settings.images_banner_size | image_url}}">
        <h2 class="titles-banner__alls">{{ block.settings.custom_text_title }}</h2>
      </a>
    </div>
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "testAllBlocks",
  "tag": "section",
  "class": "section",
  "blocks": 
  [
    {
      "name": "banner",
      "type": "banner",
      "limit": 3,
      "settings": 
      [
        {
          "type": "select",
          "id": "banner_size",
          "default": "banner-1-4",
          "label": "Select banner size",
          "options": [
            {
              "value": "banner-1-2",
              "label": "show 1/2"
            },
            {
              "value": "banner-1-4",
              "label": "show 1/4"
            }
          ]
        },
        { 
          "type": "image_picker",
          "id": "images_banner_size",
          "label": "images alls"
        },
        {
         "type": "url",
         "id": "btn_links_banner",
         "label": "add links banner here"
        },
        {
          "id": "custom_text_title",
          "type": "text",
          "label": "Title box heading",
          "default": "Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "testAllBlocks"
    }
  ]
}
{% endschema %}
