

<div class="questions-liquid">
  <div class="containers mb-30s">
    <h3 class="title-banner__images">
        {{ section.settings.title_liquid_js }}
    </h3>

    <div class="test-js__content mb-15s">

      <p>Question 1 :</p>

        {% assign hello_text = 'Hello world!' %}   
        
         <p>{{ hello_text | upcase | replace: 'WORLD', 'AHT' }}</p>

    </div>

    <div class="test-js__content">

      <p>Question 2 :</p>

      {% assign fruits = "apples-oranges-peaches-tomatoes" | split: '-'%}
      {{fruits | join: '-' }}

      {% for fruit in fruits %}
        {{ fruit }}
      {% endfor %}            

    </div>


  </div> 
</div>


{% schema %}
   
{

  "name": "Test js liquid",

  "settings": [

    {

    "id": "title_liquid_js",

    "type": "text",

    "label": "Text tittle liquid js",

    "default": "Title"

    } 

  ],

  "presets": [
   {
    "name": "Test js liquid"
   }
  ]

}
{% endschema %}