
<div class="slide-banner__mains">
	<div class="swiper sl-banner__mains">
      <div class="swiper-wrapper">
      	{%- for block in section.blocks -%}
        <div class="swiper-slide">
        	<div class="items-banner__sl"> 
        		{% if block.settings.images_desktop_slide %}
        		  <img src="{{ block.settings.images_desktop_slide | image_url}}" class="images-slide__deaktops">
        		{% endif %}
        		{% if block.settings.images_mobile_slide %}
        		  <img src="{{ block.settings.images_mobile_slide | image_url}}" class="images-slide__mobiles">
        		{% endif %}
        		<div class="containers">
        		  <div class="intros-banner__ins">
        		  	<h2 class="title-banner__images">{{ block.settings.title_text_slide }}</h2>
        		  	<div class="text-content__banners">{{ block.settings.text_banner_sl }}
                      </div>
        		  	<a class="btn-content__banner" href="{{block.settings.btn_items_slide }}"> {{ block.settings.btn_texts_slide }} </a>
        		  </div> 
        		</div>
        	</div>
        </div>
        {%- endfor -%}
      </div>
      <div class="swiper-pagination"></div>
    </div>
</div>

<script type="text/javascript">

	console.log('sss');

        var swiper2 = new Swiper('.sl-banner__mains', {
            slidesPerView: 1,
            spaceBetween: 0,
            draggable: true,
            loop: true,
            speed: 1500,
            autoplay: {
                delay: {{ section.settings.control_times_slide }},
                disableOnInteraction: false,
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            breakpoints: {
                // when window width is >= 320px
                320: {
                    slidesPerView: 1,
                    spaceBetween: 0
                }
            }
        });

           swiper2.autoplay.{{ section.settings.control_sl_auto }}();

        // swiper2.autoplay.stop();
</script>

{% schema %}
{
  "name": "testAllSlide",
  "tag": "section",
  "class": "section",
  "settings": 
      [
        {
          "type": "select",
          "id": "control_times_slide",
          "default": "2400",
          "label": "Select slide times",
          "options": [
            {
              "value": "4800",
              "label": "times 4s"
            },
            {
              "value": "2400",
              "label": "times 2s"
            },
            {
              "value": "1200",
              "label": "times 1s"
            }
          ]
        },
        {
          "type": "select",
          "id": "control_sl_auto",
          "default": "start",
          "label": "Select slide auto",
          "options": [
            {
              "value": "stop",
              "label": "no auto play"
            },
            {
              "value": "start",
              "label": "auto play"
            }
          ]
        }
      ],

  "blocks": 
  [
    {
      "name": "banner",
      "type": "banner",
      "limit": 3,
      "settings": 
      [
        { 
          "type": "image_picker",
          "id": "images_desktop_slide",
          "label": "images desktop slide"
        },
         { 
          "type": "image_picker",
          "id": "images_mobile_slide",
          "label": "images mobiles slide"
        },
        {
         "type": "url",
         "id": "btn_links_banner",
         "label": "add links banner here"
        },
        {
          "id": "title_text_slide",
          "type": "text",
          "label": "Title box heading",
          "default": "Title"
        },
        {

          "id": "text_banner_sl",
          "type": "richtext",
          "label": "Add custom text below",
          "default": "<p>Add your text here</p>"

        },
        {
         "type": "url",
         "id": "btn_items_slide",
         "label": "add links banner here"
        },
        {
          "id": "btn_texts_slide",
          "type": "text",
          "label": "Title box heading",
          "default": "Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "testAllSlide"
    }
  ]
}
{% endschema %}