h1, h2, h3, h4, h5, h6, p {
	margin: 0px;
}

.mb-15s {
	margin-bottom: 15px;
} 

.mb-30s {
	margin-bottom: 30px;
}
.containers {
	max-width: 1415px;
	width: 100%;
	padding: 0px 15px;
	margin-left: auto;
	margin-right: auto;
}
.custom-text-section {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 1px;
	padding-top: 45%;
}
.custom-text-section > img {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	object-fit: cover;
}

.images-slide__mobiles {
	z-index: 2;
	opacity: 0;
}

.items-faq__mains:not(:last-child) {
	margin-bottom: 15px;
}
.items-faq__mains .top-faq__items {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: solid 1px #ababab;
}
.items-faq__mains .top-faq__items .titles-question__faq {
	padding: 5px 10px;
	width: 100%;
	flex: 1;
	margin: 0px;
}
.items-faq__mains .top-faq__items .btn-faq__mains {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	width: 50px;
	height: 50px;
	font-size: 20px;
}
.items-faq__mains .answer-faq__items {
	padding: 15px;
	color: #31373d;
	display: none;
}
.img-mobiles__banners {
	display: none;
}
.custom-text-section {
	position: relative;
}
.custom-text-section .containers {
	position: absolute;
	z-index: 10;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
	height: fit-content;
}
.intros-banner__ins {
	max-width: 40%;
	margin-left: auto;
	text-align: center;
}
.btn-content__banner {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 50px;
	width: fit-content;
	padding: 5px 25px;
	border: solid 2px #686868;
	color: #363636;
	transition: all 0.3s;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
}
.btn-content__banner:hover, .btn-content__banner:focus {
	background-color: #686868;
	color: #fff;
}
.title-banner__images {
	font-size: 80px;
	font-weight: 500;
	margin-bottom: 10px;
	margin-top: 0px;
}
.text-content__banners {
	color: grey;
	font-size: 22px;
}
.text-content__banners p {
	margin-top: 0px;
	margin-bottom: 10px;
}
.groups-bannner__alls {
	display: flex;
	margin: 0px -15px;
}
.banner-items {
	padding: 0px 15px;
	overflow: hidden;
	position: relative;
}
.banner-items img {
	height: 230px;
	width: 100%;
	object-fit: cover;
}
.banner-items .titles-banner__alls {
	position: absolute;
	right: 100px;
	bottom: 30px;
	padding: 10px 20px;
	background-color: #fff;
	z-index: 10;
	font-size: 28px;
	font-weight: 500;
	color: #000;
}
.banner-items.banner-1-2 {
	max-width: 50%;
}
.banner-items.banner-1-4 {
	max-width: 25%;
}

.sl-banner__mains{
	width: 100%;
}

.btn-black__alls {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 50px;
	width: fit-content;
	padding: 5px 25px;
	border: solid 2px #000000;
	background-color: #000000;
	color: #FFFFFF;
	transition: all 0.3s;
	text-decoration: none;
	font-weight: 600;
}


.fag-mains + .btn-black__alls {
	text-transform: uppercase;
}

.items-banner__sl {
	position: relative;
	height: 1px;
	padding-top: 45%;
	display: flex;
	width: 100%;

	> img {
		position: absolute;
		left: 0px;
		top:0px;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.containers {
		position: absolute;
		z-index: 10;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		width: auto;
		margin: auto;
		height: fit-content;

		.title-banner__sl {
			font-size: 80px;
			font-weight: 500;
			color:#000000;
			margin-bottom: 5px;
		}

		.btn-content__banner {
			min-width: 100px;
		}

	}
}

.sl-banner__mains {
	position: relative;

	.swiper-pagination {
		display: flex;
		align-items: center;
		width: fit-content;
		left: unset;
		right: 30%;
		bottom: 30px;

		.swiper-pagination-bullet {
			display: flex;
			width: 50px;
			height: 1px;
			background-color: #000000;
			opacity: 1;
			border-radius: 0px;
			transition: all 0.2s;

			&:not(:last-child) {
				margin-right: 5px;
			}
		}


		.swiper-pagination-bullet-active {
			height: 3px;
		}
	}
}



.titles-center  {
	text-align: center;
}

.products-list__alls {
	background-color: #ebebeb;
	padding: 30px 0px;

	.collection__title.title-wrapper--self-padded-tablet-down {
		padding: 0px;
	}

	.page-width-desktop {
		max-width: 100%; 
		padding: 0; 
	}
}


.list-slide__prds {

	.product-card-wrapper {

		.card__inner {
			height: 1px;
			padding-top: 120%;
			border:solid 1px #ABABAB;
			background-color: #FFFFFF;
		}

		.card__media {
			left: 0px;
			top: 0px;
			height: 100%;
			width: 100%;
			position: absolute;

			.media {
				>img {
					object-fit: scale-down;
					max-width: 90%;
					max-height: 90%;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					margin: auto;
				}
			}
		}
		.card__heading {
			color:#505050;
			text-decoration: none;
			font-size: 16px;
		}
		.card__badge {
			display: none;
		}
	}
}






@media (min-width: 1200.98px) {
	.list-slide__prds {
		.groups-prd__ins  {
			column-gap: 40px;

			>li {
				width: calc(25% - 40px * 3 / 4);
				max-width: calc(25% - 40px * 3 / 4);
			}        
		}
	}
}

@media (max-width: 1365.98px) {
	.banner-items .titles-banner__alls {
		font-size: 18px;
		padding: 10px 15px;
		right: 40px;
	}
}

@media (max-width: 1199.98px) {
	.title-banner__images {
		font-size: 55px;
	}
	.text-content__banners {
		font-size: 18px;
	}
	.btn-content__banner {
		min-height: 40px;
		padding: 5px 10px;
		font-size: 16px;
	}
}
@media (max-width: 1199.98px) {
	.title-banner__images {
		font-size: 36px;
	}
	.text-content__banners {
		font-size: 18px;
	}
	.btn-content__banner {
		min-height: 40px;
		padding: 5px 10px;
		font-size: 16px;
	}
}
@media (max-width: 991.98px) {
	.img-mobiles__banners {
		display: block;
	}

	.img-desktops__banners {
		display: none;
	}

	.banner-mains__groups {
		overflow-x: auto;
		overflow-y: hidden;

		.groups-bannner__alls {
			min-width: 1200px;
		}
	}

	.images-slide__mobiles {
		opacity: 1;
	}
}
@media (max-width: 767.98px) {
	.title-banner__images {
		font-size: 36px;
	}

	.sl-banner__mains .swiper-pagination {
		display: none;
	}

	.title-banner__images {
		font-size: 24px;
	}

	.text-content__banners {
		font-size: 16px;
	}

	

}
@media (max-width: 575.98px) {
	.intros-banner__ins {
		max-width: 65%;
	}
	.title-banner__images {
		font-size: 28px;
	}
	.img-bg__banner {
		padding-top: 80%;
	}
	.intros-banner__ins {
		max-width: 100%;
	}
	.groups-bannner__alls {
		flex-wrap: wrap;
	}
	.groups-bannner__alls .banner-items {
		width: 100%;
		max-width: 100%;
	}

	.banner-mains__groups .groups-bannner__alls {
		min-width: unset;
	}
}
